.App {
  text-align: center;
}
button {
  font-weight: bold;
  font-size: 16px;
  padding: 24px;
  margin: 16px;
  border-radius: 8px;
  border: 2px solid gray;
  background-color: aqua;
  color: white;
}
